.testimonials{
    width: 100%;
    background: #778EA866;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 15%;
}
.testimonials__header{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 15%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20%;
}
.whatClientsSay{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 10%;
}
