.learn_more{
    display: flex;
    align-items: center;
    justify-content: start;
    color: rgb(192, 191, 196);
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 15%;
    text-align: left;
    text-transform: uppercase;
}
